.question-wrapper {
  position: relative;
  cursor: pointer;

  .stars {
    margin: 5px 10px 15px 0;
  }

  .question-label {
    display: inline-block;
    width: 84%;
    vertical-align: text-top;
  }
}