.question-collection-wrapper {
  position: relative;

  @media print {
    .question-list {
      float: none;
      break-after: page;
    }

    li:nth-child(10n) {
      break-after: page;
    }
  }
}