.question-collection-wrapper {
  position: relative;

  @media only print {
    @media (max-width: 40em) {
      li:nth-child(21n) {
        page-break-before: always;
      } 
    }
    @media (min-width: 40em) {
      li:nth-child(11n) {
        page-break-before: always;
      } 
    }
  }
}