.spiritual-gifts-survey-wrapper {
  position: relative;

  .value {
    display: inline-block;
    margin: 10px;
  }

  @media print {
    .top-margin {
      height: 100px;
      break-before: page;
    }
  }
}